.submit {
  background: #669c49;
  color: #fff;
  cursor: pointer;
  padding: 10px 12px;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  transition: all 0.3s linear;
  outline: 0;
}
.submit:active, .submit:focus, .submit:hover {
  background: #609245;
  outline: 0;
}
.submit:active, .submit:focus {
  box-shadow: inset 0px 1px 2px #609245;
  outline: 0;
}

@media screen and (max-width:430px) {
  .submit {
    width: 85%;
    margin: 10px 0 0 0;
  }
}